/* Universal  */
* {
    box-sizing: border-box;
    /* border: 1px red solid !important; */
}
html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.2rem;
}

p {
     padding: 0.5rem 0;
     line-height: 1.6;
 }

 a {
     text-decoration: none;
     color: rgb(39, 126, 161);
 }
.even-background {
    background-color: rgba(180, 177, 177, 0.6);
}

/* Display Element for Mobile Display */
@media only screen and (max-width: 800px) {
    .desktop {
        display: none !important;
    }
}

@media only screen and (min-width: 801px) {
    .mobile {
        display: none !important;
    }
}

/* Header with Logo and Nav Bar section  */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    height: 4rem;
    border-bottom: 0.5px solid grey;
}

#colmar-title {
    font-weight: bold;
}

.logo {
    font-size: 1.3rem;
}

.logo img {
    vertical-align: middle;
    height: 2rem;
}


nav ul li {
    display: inline-block;
    padding: 0 0.5rem;
}

nav ul li:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px) {
    header .mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    header .mobile ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    
    .logo {
        display: none;
    }
}
/* Banner Section */
.banner {
    position: relative;
    top: 4rem;
    padding: 2rem 0;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.banner .images-container {
    flex-basis: 60%;
    overflow: hidden;
    padding: 0 1.5rem;
}

.banner .images-container img {
    max-width: 100%;
    height: auto;
}

.banner-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2rem;
}

.banner-content p {
    font-size: 2rem;
}

.banner-content h1,
.banner-content p {
    padding: 2rem 0;
}

.btn-main {
    padding: 0.5rem 0;
    background-color: rgb(78, 77, 77);
    text-align: center;
    width: 100%;
    font-size: 1.7rem;
}

.btn-main a {
    color: white;
    width: 100%;
}

.btn-main:hover {
    background-color:rgb(43, 35, 35);
    transition: all 1.5s linear 0;
}

@media only screen and (max-width: 900px) {
    .banner {
        flex-direction: column;
        align-items: flex-start;
    }
    .banner .images-container {
        width: 100%;
    }
    .banner-content {
        padding: 1rem;
        width: 100%;
    }    
}
    
@media only screen and (max-width: 800px) {
    .banner {
        padding: 0 !important;
    }

    .banner .images-container {
        width: 100%;
        padding: 0
    }

    .banner-content {
        padding: 2rem 1rem;
    }
}
/* Info left section  */

.info {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    display: flex;
    border-bottom: 0.5px solid grey;
}

/* Info left section  */
.left-images-container {
    flex-basis: 60%;
    overflow: hidden;
}

.left-images-container img {
    max-width: 100%;
}

#orientation-date {
    padding-top: 0;
}

@media only screen and (max-width: 800px) {
    .info {
        padding: 1rem 1rem 2rem;
    }

    .info .right {
        width: 100%;
    }

    .right-card {
        width: 100%;
    }

    .right-card {
        display: flex;
        flex-direction: column;
        padding: 0 !important;
    }

    .right-images-container.mobile {
        width: 100%;
        overflow: hidden;
        height: auto;
    }

    #our-campus {
        margin: 4rem 0;
    }

    .right-images-container.mobile img {
        width: 100%;
        height: auto;
        display: block;
    }

    .right-description {
        padding-top: 1rem;
        width: 100%;
    }

}

/* Course section  */
.course {
    padding: 2rem 3.5rem;
    border-bottom: 0.5px solid grey;
}

.title h1 {
    text-align: center;
}

.course-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.course-card {
    background-color: white;
    flex-basis: 30%;
    margin: 1rem;
    border: 1px solid grey;
    transition: all 500ms ease-in 200ms;
}
.course-card:hover {
    transform: scale(1.1);
   
}
.course-card .images-container img {
    max-width: 100%;
    height: auto;
}

.course-content {
    padding: 1rem 1.5rem 1.5rem 1rem;
}


.course-content h4 {
    text-transform: uppercase;
    margin: 0.5rem 0;
    font-weight: 300;
    color: grey;
}

.course-content p {
    font-weight: 300;
    color: grey;
}

@media only screen and (max-width: 800px) {
    .course {
        background-color: white;
        padding: 2rem 1rem 1.5rem;

    }
    .course-container {
        padding-top: 0.5rem;
        width: 100%;
        margin: 0;
    }
    .course-card {
        margin: 0;
        flex-basis: 100%;
        border: none;
        flex-direction: column;
        justify-content: space-around;
    }
    .course-card:hover {
        transform: scale(1);
    }
    
    .course-content {
        background-color: rgba(180, 177, 177, 0.6);
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
        margin: 0.5rem 0rem;
    }
    .course-content:hover {
        transform: scale(1);
        background-color:rgb(43, 35, 35);
        color: white;
    }

}

/* Thesis exhibit Section */
.thesis-exhibit {
    padding: 2rem 0rem 2rem 1.5rem;
    border-bottom: 0.5px solid grey;
}

.content {
    display: flex;
    margin-top: 2rem;
}

.left {
    width: 60%;
    margin-right: 1.5rem;
}

.left-description {
    margin-top: 1.5rem;   
}

.left-description h3 {
    margin-bottom: 0.5rem;
}

.video-container {
    width: 100%;
    overflow: hidden;
}

.video-container video {
    max-width: 100%;
    display: block;
    height: auto;
}
.right {
    width: 40%;
}

.right-card {
    display: flex;
    padding: 1rem;
    transition: all 500ms ease-in 200ms;
}

.right-card:hover {
    transform: scale(1.1);
}

.right-images-container {
    width: 35%;
    overflow: hidden;
    /* padding: 1rem; */
}

.right-images-container img{
    max-width: 100%;
    height: auto;
}

.right-description {
    width: 65%;
    padding-left: 1rem;
}

@media only screen and (max-width: 800px) {
    .thesis-exhibit {
        padding-bottom: 1.5rem;
        padding-left: 0;
    }
    
    .left {
        margin: 0;
        width: 100%;
    }
}

/* Footer  */

footer {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.terms ul li {
    display: inline-block;
    padding: 0 1rem;
}